@import url('https://fonts.googleapis.com/css2?family=Gudea:ital,wght@0,400;0,700;1,400&display=swap');

:root{
    --bg-color: #0C1821;
    --font-color: #e0e0e0;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gudea", sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
    color: var(--font-color);
}