.headerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 80vw;
    font-size: 0.75rem;
    font-style: italic;
    font-weight: 400;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainContainer > .mainTitle{
    font-size: 0.95rem;
    font-style: italic;
}

.buttons{
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 96px;
    height: 96px;
}

.raspberryImage{
    width: 32px;
    height: 32px;
}

.hardware, .config{
    display: flex;
    justify-content: space-around;
    width: 216px;
    margin: 32px 0;
}

.hardwareText, .configText, .devicesText{
    font-size: 0.75rem;
    font-style: italic;
    color: #fff;
}

.mobileIconImage{
    width: 64px;
    height: 64px;
    margin-right: 8px;
}