/*CABEÇALHO*/
.headerContainer {
    display: flex;
    /*Flexbox*/
    justify-content: center;
    /*Alinha ao Centro - Eixo Principal*/
    align-items: center;
    /*Alinha ao Centro - Eixo Perpendicular*/
    height: 200px;
    /*Altura de 200px*/
    width: 100vw;
    /*Largura de 80% da tela*/
    font-size: 0.75rem;
    /*Tamanho da Fonte de 75% da raiz*/
    font-style: italic;
    /*Fonte em Itálico*/
    font-weight: 400;
    /*Peso da Fonte*/
    margin-bottom: 2rem; 
    /* Espaço abaixo do header */
}

/*CONTAINER PRINCIPAL*/
.mainContainer {
    display: flex;
    /*Flexbox*/
    flex-direction: column;
    /*Alinha em Colunas*/
    align-items: center;
    /*Alinha ao Centro - Eixo Perpendicular*/
}

/*TÍTULO DO CONTEÚDO PRINCIPAL*/
.mainContainer>.mainTitle {
    font-size: 0.95rem;
    /*Tamanho da Fonte de 95% da Raiz do Documento*/
    font-style: italic;
    /*Fonte em Itálico*/
}

/*BOTÕES*/
.buttonInfinityDevices,
.buttonDevices,
.buttonPersonalized,
.buttonDefault,
.buttonArduino,
.buttonRaspberryPi {
    background-color: transparent;
    /*Cor de Fundo Transparente*/
    border: 1px solid #fff;
    /*Borda de 1px Branca*/
    border-radius: 4px;
    /*Arredonda a Borda*/
    display: flex;
    /*Flexbox*/
    flex-direction: column;
    /*Alinha em Colunas*/
    align-items: center;
    /*Alinha ao Centro - Eixo Perpendicular*/
    justify-content: center;
    /*Alinha ao Centro - Eixo Principal*/
    gap: 8px;
    /*Espaçamento de 8px*/
    width: 96px;
    /*Altura de 96px*/
    height: 96px;
    /*Largura de 96px*/
}

.buttonInfinityDevices:hover,
.buttonDevices:hover,
.buttonPersonalized:hover,
.buttonDefault:hover,
.buttonArduino:hover,
.buttonRaspberryPi:hover {
    transition: ease-in-out 0.5s;
    cursor: pointer;
}

/*IMAGEM DO RASPBERRY PI*/
.raspberryImage,
.arduinoImage,
.defaultImage,
.personalizedImage,
.devicesImage,
.infinityDevicesImage {
    width: 32px;
    /*Largura de 32px*/
    height: 32px;
    /*Altura de 32px*/
}

/*HARDWARE, CONFIG e DEVICES*/
.hardware,
.config,
.devices {
    display: flex;
    /*Flexbox*/
    justify-content: space-around;
    /*Alinha com um espaço entre eles*/
    width: 216px;
    /*Largura de 216px*/
    margin: 32px 0;
    /*Margem de 32px Superior e de 0px Inferior*/
}

/*TEXTOS HARDWARE, CONFIG e DEVICES*/
.hardwareText,
.configText,
.devicesText {
    font-size: 0.75rem;
    /*Tamanho da Fonte de 75% da Raiz do Documento*/
    font-style: italic;
    /*Fonte em Itálico*/
    color: #fff;
    /*Cor do Texto Branco*/
}

/*IMAGE DO ICONE DE MOBILE - APP SOB DEMANDA*/
.mobileIconImage {
    width: 64px;
    /*Largura de 64px*/
    height: 64px;
    /*Altura de 64px*/
    margin-right: 8px;
    /*Margem Lateral de 8px*/
}

/*RODAPÉ*/
.footer {
    display: flex;
    /*Flexbox*/
    justify-content: center;
    /*Alinha ao Centro - Eixo Principal*/
    align-items: center;
    /*Alinha ao Centro - Eixo Perpendicular*/
    height: 96px;
    /*Altura de 96px*/
    border-top: 1px solid rgba(255, 255, 255, 102);
    /*Borda Branca com um pouco de Transparência*/
    margin-top: 2rem; 
    /* Espaço acima do footer */
}

/*TEXTOS DO RODAPÉ*/
.footerText {
    font-size: 0.625rem;
    /*Tamanho da Fonte de 62.5% do Elemento Raiz*/
    font-style: italic;
    /*Fonte em Itálico*/
}

.selected {
    background-color: #307473;
    border: none;
}

.finalizarButton {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #fff;
    text-decoration: underline;
    margin: 48px 0;
}

/* Adicione ao seu styles.module.css */
.errorMessage {
    color: #f44336;
    margin: 1rem 0;
}

.loadingMessage {
    margin: 1rem 0;
}

/* Caixa do Resumo do Pedido */
.checkoutView {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    background-color: transparent; /* Fundo semi-transparente para destacar a caixa */
    border-radius: 8px;
    padding: 2rem 3rem;
    width: 80%; /* Ocupa 80% da largura da tela */
    max-width: 600px; /* Limite máximo de largura */
    color: #fff; /* Cor do texto branca */
    font-family: 'Gudea', sans-serif; /* Fonte personalizada */
    font-size: 1.25rem;
    text-align: center;
    margin: 0 auto; /* Centraliza horizontalmente */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave para dar destaque */
    gap: 1rem; /* Espaçamento entre os elementos */
  }
  
  /* Caixa do Resumo do Pedido */
.checkoutView {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    background-color: transparent; /* Fundo semi-transparente para destacar a caixa */
    border-radius: 8px;
    padding: 2rem 3rem;
    width: 80%; /* Ocupa 80% da largura da tela */
    max-width: 600px; /* Limite máximo de largura */
    color: #fff; /* Cor do texto branca */
    font-family: 'Gudea', sans-serif; /* Fonte personalizada */
    font-size: 1.25rem;
    text-align: center;
    margin: 3rem auto; /* Margem superior e inferior */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave para dar destaque */
    gap: 1rem; /* Espaçamento entre os elementos */
}


/* Título do Checkout */
.checkoutTitle {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem; /* Espaçamento abaixo do título */
    color: #fff; /* Cor branca */
}

/* Texto Descritivo */
.checkoutText {
    font-size: 1rem;
    margin-bottom: 2rem;
    color: #ddd; /* Texto mais suave */
}

/* Exibição do Valor Total */
.checkoutValorTotal {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
    color: #4CAF50; /* Cor verde para destacar o preço */
    transition: color 0.3s ease, transform 0.3s ease;
}

/* Estilo de transição quando o valor mudar */
.checkoutValorTotalChanged {
    transform: scale(1.1); /* Aumenta suavemente o tamanho */
    color: #FF9800; /* Cor laranja quando o preço for alterado */
}

  

@media(min-width: 560px) {
    .mobileIconImage {
        width: 80px;
        height: 80px;
        margin-right: 32px;
    }

    .headerContainer,
    .hardwareText,
    .configText,
    .devicesText {
        font-size: 0.88rem;
    }

    .mainContainer>.mainTitle {
        font-size: 1.12rem;
    }

    .buttonInfinityDevices,
    .buttonDevices,
    .buttonPersonalized,
    .buttonDefault,
    .buttonArduino,
    .buttonRaspberryPi {
        width: 120px;
        height: 120px;
        gap: 16px;
    }

    .hardware,
    .config,
    .devices {
        width: 280px;
    }

    .footer {
        height: 120px;
    }

    .footerText {
        font-size: 0.88rem;
    }
}

@media(min-width: 768px) {
    .mobileIconImage {
        width: 96px;
        height: 96px;
    }

    .headerContainer,
    .hardwareText,
    .configText,
    .devicesText {
        font-size: 1rem;
    }

    .mainContainer>.mainTitle {
        font-size: 1.32rem;
    }

    .buttonInfinityDevices,
    .buttonDevices,
    .buttonPersonalized,
    .buttonDefault,
    .buttonArduino,
    .buttonRaspberryPi {
        width: 160px;
        height: 160px;
    }

    .hardware,
    .config,
    .devices {
        width: 400px;
    }

    .raspberryImage,
    .arduinoImage,
    .defaultImage,
    .personalizedImage,
    .devicesImage,
    .infinityDevicesImage {
        width: 40px;
        height: 40px;
    }
}

@media (min-width: 1024px) {
    .mobileIconImage {
        width: 120px;
        height: 120px;
        margin-right: 96px;
    }

    .headerContainer,
    .hardwareText,
    .configText,
    .devicesText {
        font-size: 1.06rem;
    }

    .mainContainer>.mainTitle {
        font-size: 1.5rem;
        margin: 32px 0;
    }

    .hardware,
    .config,
    .devices {
        width: 440px;
    }
}
